@use "variable";

.calendar{
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 3px variable.$bg-white;

    &-head{
        display: none;

        >*{
            padding: variable.$padding;
        }
    }
    &-body{
        display: flex;
        flex-direction: column;
        height: inherit;
        

        >*{

            padding: variable.$padding;
            height: fit-content;
            text-align: center;

            &.calendar-day{
                color: variable.$bg-gray-dark;;
                font-weight: bold;
                font-size: small;
                &.extra-day{
                    display: none;
                }
                
            }

            &.current-day{
                @include variable.paint-primary
                    // @include variable.paint-primary;
            }
            
        }


    }
}

@media screen and (min-width: 321px) {
    
    .calendar{
        &-head{
            display: grid;
            background-color: variable.$bg-whitest;
            font-weight: bold;
            font-size: small;
            grid-template-columns: repeat(7,1fr);
            >*{
                border: 1px solid variable.$bg-white;
            }
        }
        &-body{
            display: grid;
            grid-template-columns: repeat(7,1fr);
            grid-template-rows: repeat(5,1fr);

            >* {
                border: 1px solid variable.$bg-white;
                text-align: left;
                min-height: 5rem;
                
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
                &.calendar-day{
                    font-weight: bold;
                    font-size: small;
                    &.extra-day{
                        display: block;
                        background-color: darken(variable.$bg-whitest,2%);
                    }
                    
                }

            }

            
        }
    }
}