@use "variable";
@use "sass:math";

.container-checkbox{
    display: grid;
    grid-template-areas: "checkbox label";
    grid-template-columns: auto 1fr;
    gap: variable.$padding-left;

    input[type="checkbox"]{
        appearance: none;
        // background-color: variable.$bg-white;
        color: currentColor;
        width: 1.5rem !important;
        height: 1.5rem !important;
        padding: math.div(variable.$padding-left,2);
        padding: 0;
        border: 0.14rem solid darken(variable.$bg-white,20%);
        border-radius: 0.15em;
        display: inline;
        position: relative;

        &:checked{

            &::after{
                display: block;
                content: '';
                width: 100%;
                height: 30%;
                border-bottom: 3px solid variable.$bg-primary;
                border-left: 3px solid variable.$bg-primary;
                bottom: 50%;
                left: 0;
                margin: auto;
                position: absolute;
                transform: rotate(-45deg);
            }
        }

    }
}