
.template{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "head" "body" "footer";
    position: absolute;
}

/* template */
.template-header{ grid-area: head;  }
.template-body{ grid-area: body; }
.template-footer{ grid-area: footer; }
